@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	color: #ffffffcf;
	font-size: 16px;
}

body {
	background-color: #191919;
	color: #ffffffcf;
	padding: 120px 30px 0px 30px;
	@media (max-width: 640px) {
		padding: 45px 15px 0px 15px;
	}
}

header {
	position: fixed;
	left: 50%;
	top: 0;
	transform: translate(-50%);
	width: 100%;
	background-color: #191919f0;
	z-index: 2;
	padding: 0px 30px 0px 30px;
	@media (max-width: 640px) {
		padding: 0px 15px 0px 15px;
	}
}

.container {
	margin: 0px auto;
	@media (min-width: 768px) {
		max-width: 1200px !important;
	}
}

a {
	transition: all 0.3s ease 0s;
	&:hover {
		color: #ffffff;
		opacity: 1 !important;
		transition: all 0.3s ease 0s;
	}
	img {
		transition: all 0.3s ease 0s;
		&:hover {
			opacity: 0.7;
			transform: scale(1.1);
			transition: all 0.3s ease 0s;
		}
	}
}

#hero {
	margin: 0px -30px;
	@media (max-width: 768px) {
		margin: 0 -15px;
	}
	img {
		filter: drop-shadow(0px 4px 8px rgba(0, 0, 0, 0.25));
	}
}

.title-section {
	font-size: 40px;
	font-weight: 700;
	margin-top: 40px;
	&::after {
		content: "";
		display: block;
		height: 1px;
		background: rgba(255, 255, 255, 0.13);
		margin-top: 12px;
	}
}

.sub-title-section {
	font-size: 30px;
	font-style: italic;
	font-weight: 600;
	background: #522e2a;
	display: inline-flex;
	margin-top: 40px;
}

.card-border {
	border-radius: 8px;
	border: 1px solid rgba(255, 255, 255, 0.2);
	box-shadow: 0px 3px 15px 0px rgba(255, 255, 255, 0.25);
	animation: floating 3s infinite ease-in-out;
}

@keyframes floating {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-3px);
	}
	100% {
		transform: translateY(0);
	}
}
